.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    // Usamos MIXIN de MEDIA QUERIES
    @include tablet {
        flex-direction: row;
        justify-content: space-between;

        img {
            max-width: 100%;
            width: 28rem;
            height: auto;
        }
    }
}

.navegacion {
    @include tablet {
        display: flex;
        align-items: center;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            // Selecciona al último enlace y le aplica lo que indiquemos
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}