.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    // Usamos MIXIN de MEDIA QUERIES
    @include tablet {
        flex-direction: row;
        justify-content: space-between;

        img {
            max-width: 100%;
            width: 28rem;
            height: auto;
        }
    }

    img {
        width: 30rem;
        margin-bottom: 2rem;
    }
}

.navegacion {
    //display: none;
    visibility: hidden;
    opacity: 0;
    transition:  visibility 0.3s ease-in-out, opacity 0.5s linear  ;
    -webkit-transition:  visibility 0.3s ease-in-out, opacity 0.5s linear  ;
    -moz-transition:  visibility 0.3s ease-in-out, opacity 0.5s linear  ;
    -ms-transition:  visibility 0.3s ease-in-out, opacity 0.5s linear  ;
    -o-transition:  visibility 0.3s ease-in-out, opacity 0.5s linear  ;

    @include tablet {
        display: flex;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            // Selecciona al último enlace y le aplica lo que indiquemos
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    // display: flex;
    // flex-direction: column;

    // @include tablet {
    //     flex-direction: row;
    // }

    // Los display no se pueden animar, por ello se cambio a visibility
    visibility: visible;
    opacity: 1;
}